<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
  </head>
  <body>

      <header>
        <div><a href="/"><img style="margin-right:20px;" src="/assets/bgsa_logo.jpg" alt="BGSA" width="150" height="150"></a></div>

        <a href="/"><h1>Bioinformatics Graduate <br> Student Association</h1></a>
        <!--p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p-->
      </header>

      <div class="banner">
          <a href="/constitution/" class="button">Constitution</a>
          <a href="/exec_members/" class="button">Executive Members</a>
          <a href="/calendar/" class="button">Events Calendar</a>
          <a href="/resources/" class="button">Student Resources</a>
          <a href="/prev_events/" class="button">Previous Events</a>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdgHY1WASoWGXoDZzQedk6R7CTqjgGIVcd05gpJ-yO3ROknRQ/viewform?usp=sf_link" class="button" target="_blank ">Suggestion Box</a>
      </div><!-- end banner -->
    <div class="wrapper">
      <!--nav>
        <ul></ul>
      </nav-->
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Copyright &#169; 2022 Bioinformatics Graduate Student Association at the University of Michigan.<br>
          Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham.</a></small></p>
      </footer>
    </div>
  </body>
</html>
